[General]
InvisibleTabs=0
AutoStart=0
Disabled=0

[Settings]
IntegrationName=cis docker
IconFile=integration.ico
Sender=
Receiver=
DebugMessages=0
TaskListUpdate=1
Chatty=3
InfoFile=
ProcessFile=cis docker.pf

[Description]

[Parameters]

[Identifiers]

